* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #4DD0E1;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 0%;
}

.grid-item {
  position: relative;
  height: 0%;
  margin: 0.25%;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  position: relative;
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;

}

/*.grid-item:hover {
  opacity: 0.8;
}
*/
.grid-item1 {
  width: 24.5%;
  height: 100px;
  background: #ffebee;
}

.grid-item1:hover {
  background: #FFCDD2;
}
.grid-item2 {
  width: 49.5%;
  height: 300px;
  background: #fff3E0;
}

.grid-item2:hover {
  background: #FFE0B2;
}

.grid-item3 {
  width: 24.5%;
  height: 150px;
  background: #fce4ec;
}

.grid-item3:hover {
  background: #F8BBD0;
}

.grid-item4 {
  width: 24.5%;
  height: 100px;
  background: #fff8e1;
}

.grid-item4:hover {
  background: #FFECB3;
}

.grid-item5 {
  width: 24.5%;
  height: 150px;
  background: #f3e5f5;
}

.grid-item5:hover {
  background: #E1BEE7;
}

.grid-item6 {
  width: 24.5%;
  height: 100px;
  background: #fffde7;
}

.grid-item6:hover {
  background: #FFF9C4;
}

.grid-item7 {
  width: 24.5%;
  height: 200px;
   background: #e1f5fe;
}

.grid-item7:hover {
  background: #B3E5FC;
}

.grid-item8 {
  width: 24.5%;
  height: 200px;
  background: #f9fbe7;
}

.grid-item8:hover {
  background: #F0F4C3;
}

.grid-item9 {
  width: 24.5%;
  height: 200px;
  background: #e0f7fa;
}

.grid-item9:hover {
  background: #B2EBF2;
}

.grid-item10 {
  width: 24.5%;
  height: 200px;
  background: #f1f8e9;
}

.grid-item10:hover {
  background: #DCEDC8;
}

/*
.grid-item--background1 { background: #ADD8E6; }
.grid-item--background2 { background: #ADD8E6; }
.grid-item--background3 { background: #ADD8E6; }
.grid-item--background4 { background: #ADD8E6; }
.grid-item--background5 { background: #ADD8E6; }
*/