/* Create a Parallax Effect */

body {
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-color: #4DD0E1;
    min-height: 125%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/w3images/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}

.search_span {
  background-color: #FFFFFF;
}

.searching {
  background-color: #4DD0E1 !important;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin: auto;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display:inline-block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    overflow: hidden;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#movie_list {
  height:500px;
  overflow-y:scroll;
}

li {
  list-style-type: none;
}

.movie_item {
  display:block;
  width:100%;
  list-style-position: inside;
  float:left;
}

.alphabet {
  background-color: #E0F7FA !important;
}

.side_detail {
  height: 100%; /* 100% Full-height */
  width: 20%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  margin-right:-17px;
  background-color: #B2EBF2; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll;
  -moz-box-shadow:    -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow:         -3px 0 5px 0 #555;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#movie_img {
  width: 100%;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.slider {
    position: relative;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 150px;
    margin: 10px;
    left: 10%;
    right: 100px;
    overflow: hidden;
}
.track {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    margin: 0;
    margin-left: 2%;
    padding: 0;
    border: 0;
    width: 1500px;
}
.book {
    border-radius: 5px;
    float: left;
    height: 100%;
    width: 7.5%;
    max-width: 10%;
    background-image: url("https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg");
    
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
}

.book.resize {
  height: 450px;
}

.book:hover {
    opacity: 0.5;
}
/*.book:nth-child(1) {
    background-color: #ff0000;
}
.book:nth-child(2) {
    background-color: #ffaa00;
}
.book:nth-child(3) {
    background-color: #ffff00;
}
.book:nth-child(4) {
    background-color: #00ff00;
}
.book:nth-child(5) {
    background-color: #0000ff;
}
.book:nth-child(6) {
    background-color: #aa00ff;
}
.book:nth-child(7) {
    background-color: #ff00ff;
}*/
.left, .right {
    position: absolute;
    font-size: 48px;
    bottom: 0px;
    height: 100%;
    background-color: #80DEEA;
    width: 2%;
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

#movies .item img{
  display: block;
  height: auto;
  height: 100%;
}


#movies .item{
  margin: 5px;
  transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
}

#movies .item:hover{
  opacity: 0.5;
}

#actors .item img{
  display: block;
  width: 100%;
  height: auto;
}


#actors .item{
  margin: 5px;
  transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
}

#actors .item:hover{
  opacity: 0.5;
}

#directors .item img{
  display: block;
  width: 100%;
  height: auto;
}


#directors .item{
  margin: 5px;
  transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
}

#directors .item:hover{
  opacity: 0.5;
}

.user_sidebar {
  height: 100%; /* 100% Full-height */
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  margin-right:-17px;
  background-color: #B2EBF2; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.user_sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.user_sidebar_item {
  position: relative;
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.user_sidebar_item:hover {
  background-color: #00BCD4;
}

.open_sans {
  font-family: 'Open Sans', sans-serif;
}

.middle_text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
}

.scope_one {
  font-family: 'Scope One', serif;
}

.menu-outer {
  height: 84px;
  background: url(images/bar-bg.jpg) repeat-x;
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  }
  ul#horizontal-list li {
    display: inline;
  }

.history {
  width:80%;
  height:80%;
  overflow-y: scroll;
}

.history_item {
/*  -webkit-transition: opaicty 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;*/
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
}

.history_item:hover {
  /*opacity: 0.5;*/
  background-color: #80DEEA;
}

.source_sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.item_hoverable {
  -webkit-transition: opaicty 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.item_hoverable:hover {
  opacity: 0.25;
}