<div class="modal" id="modal1"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;">x</span>
    <div class="input-group scope_one" style="margin:auto;">
      <input id="username_textfield" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
      <input id="password_textfield" type="password" class="form-control" placeholder="Password">
      <div style="float:left;">
        <button type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;" id="login_request_button">Login</button>
      </div>
      <div style="float:right;">
        <button type="button" class="btn btn-default scope_one" style="display:block; margin:auto;margin-top:10px" id="signup_request_button">Sign Up</button>
      </div>
    </div>
  </div>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>

<div class="modal" id="settings_modal"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;" id="settings_close">x</span>
    <div class="input-group scope_one" style="margin:auto;">
      Change Password:
      <input id="change_username" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
      <input type="password" id="old_password" class="form-control" placeholder="Old Password">
      <input type="password" id="new_password" class="form-control" placeholder="New Password" style="margin-top: 5px;">
      <div style="float:left;">
        <button id="password_update_button" type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Update</button>
      </div>
    </div>
  </div>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>

<div class="modal" id="history_modal"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content scope_one history container" id="history_modal_wrapper"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;" id="history_close">x</span>

<!--         <ul class="panelNav" data-panelwrapper="panelWrapper5">
      <li><a href="#panelA5">A</a></li>
      <li><a href="#panelB5">B</a></li>
      <li><a href="#panelC5">C</a></li>
    </ul>
    <div class="panelWrapper" id="panelWrapper5" data-enter="slideright" data-exit="slideright">
      <div class="panel current" id="panelA5">A</div>
      <div class="panel" id="panelB5">B</div>
      <div class="panel" id="panelC5">C</div>
    </div> -->



  </div>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>

<div class="modal" id="superuser_modal"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content" style="width:70%"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;" id="superuser_close">x</span>
    <div class="input-group scope_one" style="margin:auto;">
<!--       <button id="back_button" type="button" class="btn btn-default" style="position:absolute; float:right; right:0; top:0; display:none;"><span class="glyphicon glyphicon-chevron-left"></span></button> -->
      <div id="b_div">
        <button id="m_btn" class="scope_one" style="margin:30px;">Movie</button>
        <button id="a_btn" class="scope_one" style="margin:30px;">Actor</button>
        <button id="d_btn" class="scope_one" style="margin:30px;">Director</button>
      </div>
      <div id="m_div" style="display:none;">
        Add a Movie:
        <input id="movie_name" type="text" class="form-control" placeholder="Movie Title" style="margin-top:5px; margin-bottom:5px">
        <input id="rating" type="text" class="form-control" placeholder="Rating" style="margin-top:5px; margin-bottom:5px">
        <input id="year" type="text" class="form-control" placeholder="Year" style="margin-top:5px; margin-bottom:5px">
        <input id="language" type="text" class="form-control" placeholder="Language" style="margin-top:5px; margin-bottom:5px">
        <input id="duration" type="text" class="form-control" placeholder="Duration" style="margin-top:5px; margin-bottom:5px">
        <input id="revenue" type="text" class="form-control" placeholder="Revenue" style="margin-top:5px; margin-bottom:5px">
        <input id="color" type="text" class="form-control" placeholder="Color" style="margin-top:5px; margin-bottom:5px">
        <input id="m_img_url" type="text" class="form-control" placeholder="Image URL" style="margin-top:5px; margin-bottom:5px">
        <input id="genres" type="text" class="form-control" placeholder="Genres" style="margin-top:5px; margin-bottom:5px">
        <p class="small">Insert Genres comma delimited</p>
        <input id="keywords" type="text" class="form-control" placeholder="Keywords" style="margin-top:5px; margin-bottom:5px">
        <p class="small">Insert Keywords comma delimited</p>
        <input id="actors" type="text" class="form-control" placeholder="Actors" style="margin-top:5px; margin-bottom:5px">
        <p class="small">Insert Actors comma delimited</p>
        <input id="directors" type="text" class="form-control" placeholder="Directors" style="margin-top:5px; margin-bottom:5px">
        <p class="small">Insert Directors comma delimited</p>
        <div style="float:left;">
          <button id="movie_update_button" type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Update</button>
        </div>
      </div>
      <div id="a_div" style="display:none;">
        Add an Actor:
        <input id="actor_name" type="text" class="form-control" placeholder="Actor Name" style="margin-top:5px; margin-bottom:5px">
        <input id="a_img_url" type="text" class="form-control" placeholder="Rating" style="margin-top:5px; margin-bottom:5px">
        <div style="float:left;">
          <button id="actor_update_button" type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Update</button>
        </div>
      </div>
      <div id="d_div" style="display:none;">
        Add a Director:
        <input id="director_name" type="text" class="form-control" placeholder="Director Name" style="margin-top:5px; margin-bottom:5px">
        <input id="d_img_url" type="text" class="form-control" placeholder="Rating" style="margin-top:5px; margin-bottom:5px">
        <div style="float:left;">
          <button id="director_update_button" type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Update</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    
    $("#m_btn").click(function(){
      $("#a_div").css('display', 'none');
      $("#d_div").css('display', 'none');
      $("#m_div").css('display', 'block');
    });

    $("#a_btn").click(function(){
      $("#d_div").css('display', 'none');
      $("#b_div").css('display', 'none');
      $("#a_div").css('display', 'block');
    });

    $("#d_btn").click(function(){
      $("#a_div").css('display', 'none');
      $("#b_div").css('display', 'none');
      $("#d_div").css('display', 'block');
    });
  </script>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>
