<div class="modal" id="modal1"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;">x</span>
    <div class="input-group scope_one" style="margin:auto;">
      <input id="username_textfield" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
      <input id="password_textfield" type="password" class="form-control" placeholder="Password">
      <div style="float:left;">
        <button type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;" id="login_request_button">Login</button>
      </div>
      <div style="float:right;">
        <button type="button" class="btn btn-default scope_one" style="display:block; margin:auto;margin-top:10px" id="signup_request_button">Sign Up</button>
      </div>
    </div>
  </div>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>

<div class="modal" id="settings_modal"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;" id="settings_close">x</span>
    <div class="input-group scope_one" style="margin:auto;">
      Change Password:
      <input id="change_username" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
      <input type="password" id="old_password" class="form-control" placeholder="Old Password">
      <input type="password" id="new_password" class="form-control" placeholder="New Password" style="margin-top: 5px;">
      <div style="float:left;">
        <button type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Update</button>
      </div>
    </div>
  </div>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>

<div class="modal" id="history_modal"> <!-- this is the entire modal form, including the background -->
  <div class="modal-content scope_one history container"> <!-- this is the container wrapper -->
    <span class="close" style="float:right;" id="history_close">x</span>
    <div class="row history_item" style="margin-top: 2.5%; padding-bottom: 1.5%">
      <div class="col-md-12" style="text-align: center; background-color: #80DEEA; margin-bottom: 1.5%">
        <i>12:00 PM, November 12th, 2016</i>
      </div>
      <div class="col-md-3">
          <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:70%; height: 100%; border-radius: 5px;">
      </div>
      <div class="col-md-3">
        <canvas id="myChart1" width="200" height="200"></canvas>
        <script>
        Chart.defaults.global.legend.display = false;
        Chart.defaults.global.tooltips.enabled = false;
        var ctx = document.getElementById("myChart1");

        var data = {
            labels: ["Red", "White"],
            datasets: [
                {
                    data: [3, 2],
                    backgroundColor: [
                        "#A5D6A7",
                        "#FFFFFF",
                    ],
                    hoverBackgroundColor: [
                        "#81C784",
                        "#FFFFFF",
                    ]
                }]
        };
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
        });
        </script>
      </div>
      <div class="col-md-6" style="text-align: left; font-size: 25px;">
      Really liked the cheesiness, awesome movie for the kids.
      </div>
    </div>
    <div class="row history_item" style="margin-top: 2.5%; padding-bottom: 1.5%">
      <div class="col-md-12" style="text-align: center; background-color: #80DEEA; margin-bottom: 1.5%">
        <i>12:00 PM, November 12th, 2016</i>
      </div>
      <div class="col-md-3">
          <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:70%; height: 100%; border-radius: 5px;">
      </div>
      <div class="col-md-3">
        <canvas id="myChart2" width="200" height="200"></canvas>
        <script>
        Chart.defaults.global.legend.display = false;
        Chart.defaults.global.tooltips.enabled = false;
        var ctx = document.getElementById("myChart2");

        var data = {
            labels: ["Red", "White"],
            datasets: [
                {
                    data: [3, 2],
                    backgroundColor: [
                        "#A5D6A7",
                        "#FFFFFF",
                    ],
                    hoverBackgroundColor: [
                        "#81C784",
                        "#FFFFFF",
                    ]
                }]
        };
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
        });
        </script>
      </div>
      <div class="col-md-6" style="text-align: left; font-size: 25px;">
      Really liked the cheesiness, awesome movie for the kids.
      </div>
    </div>
    <div class="row history_item" style="margin-top: 2.5%; padding-bottom: 1.5%">
      <div class="col-md-12" style="text-align: center; background-color: #80DEEA; margin-bottom: 1.5%">
        <i>12:00 PM, November 12th, 2016</i>
      </div>
      <div class="col-md-3">
          <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:70%; height: 100%; border-radius: 5px;">
      </div>
      <div class="col-md-3">
        <canvas id="myChart3" width="200" height="200"></canvas>
        <script>
        Chart.defaults.global.legend.display = false;
        Chart.defaults.global.tooltips.enabled = false;
        var ctx = document.getElementById("myChart3");

        var data = {
            labels: ["Red", "White"],
            datasets: [
                {
                    data: [3, 2],
                    backgroundColor: [
                        "#A5D6A7",
                        "#FFFFFF",
                    ],
                    hoverBackgroundColor: [
                        "#81C784",
                        "#FFFFFF",
                    ]
                }]
        };
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
        });
        </script>
      </div>
      <div class="col-md-6" style="text-align: left; font-size: 25px;">
      Really liked the cheesiness, awesome movie for the kids.
      </div>
    </div>

<!--         <ul class="panelNav" data-panelwrapper="panelWrapper5">
      <li><a href="#panelA5">A</a></li>
      <li><a href="#panelB5">B</a></li>
      <li><a href="#panelC5">C</a></li>
    </ul>
    <div class="panelWrapper" id="panelWrapper5" data-enter="slideright" data-exit="slideright">
      <div class="panel current" id="panelA5">A</div>
      <div class="panel" id="panelB5">B</div>
      <div class="panel" id="panelC5">C</div>
    </div> -->



  </div>
<!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
    </div> -->
</div>
