<!-- Navbar (sit on top) -->
  <div class="w3-top">
    <ul class="w3-navbar" id="myNavbar">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-hover-black" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="w3-left-align"><a href="/">HOME</a></li>
      <li class="w3-hide-small"><a href="#" onclick="openNav()"><i class="fa fa-user"></i> USER</a></li>
      <li class="w3-hide-small"><a href="#about"><i class="fa fa-envelope"></i> ABOUT</a></li>
      <li class="w3-hide-small">
        <a href="#0" class="w3-hover-red" id="login_button">
          LOGIN
        </a>
      </li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
      <ul class="w3-navbar w3-left-align w3-white">
        <li><a href="#about" onclick="toggleFunction()">ABOUT</a></li>
        <li><a href="#portfolio" onclick="toggleFunction()">PORTFOLIO</a></li>
        <li><a href="#contact" onclick="toggleFunction()">CONTACT</a></li>
        <li><a href="#">SEARCH</a></li>
      </ul>
    </div>
  </div>

  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div style="display: flex; flex-direction: column;">
      <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top:10%; width:60%;">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default type">A</button>
            <button type="button" class="btn btn-default type">M</button>
            <button type="button" class="btn btn-default type">D</button>
          </div>
          <input type="text" class="form-control"/>
        </div>
      </div>
        <div style="position:absolute; margin-top: 15%;">
        </div>
        <div id="movies" style="position: absolute; left:0; right: 0; width:80%; margin:auto; margin-top:15%; padding:20px; background-color: #FFFFFF; border-radius: 10px;">
                  
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="http://www.fatmovieguy.com/wp-content/uploads/2014/12/300-Movie-Poster.jpg"  style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item" id="the-last">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
         
        </div>

    </div>
  </div>
