        <div class="input-group">
          <div class="input-group-btn">
            <button title="Actors" type="button" class="btn btn-default type" id="search_actors_toggle">A</button>
            <button title="Movies" type="button" class="btn btn-default type" id="search_movies_toggle">M</button>
            <button title="Directors" type="button" class="btn btn-default type" id="search_directors_toggle">D</button>
          </div>
          <input type="text" class="form-control" id="search_query"/>
        </div>
