<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% movies.forEach(function(movie){ %>
            <li><%= movie %></li>
        <% }); %>
    </ul>
  </body>
</html>
