<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link rel="stylesheet" href="javascripts/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="javascripts/owl-carousel/owl.transitions.css">
<link rel="stylesheet" href="javascripts/owl-carousel/owl.theme.css">
<link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/panel.css">
<script src="javascripts/owl-carousel/owl.carousel.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="javascripts/login.js"></script>
<script src="javascripts/js-cookie.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}



/* Turn off parallax scrolling for tablets and phones */
/*@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}*/
</style>
<body>

<!-- Navbar (sit on top) -->
  <div class="w3-top">
    <ul class="w3-navbar" id="myNavbar">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-hover-black" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="w3-left-align"><a href="#home">HOME</a></li>
      <li class="w3-hide-small"><a href="#" onclick="openNav()"><i class="fa fa-user"></i> USER</a></li>
      <li class="w3-hide-small"><a href="#about"><i class="fa fa-envelope"></i> ABOUT</a></li>
      <li class="w3-hide-small">
        <a href="#0" class="w3-hover-red" id="login_button">
          LOGIN
        </a>
      </li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
      <ul class="w3-navbar w3-left-align w3-white">
        <li><a href="#about" onclick="toggleFunction()">ABOUT</a></li>
        <li><a href="#portfolio" onclick="toggleFunction()">PORTFOLIO</a></li>
        <li><a href="#contact" onclick="toggleFunction()">CONTACT</a></li>
        <li><a href="#">SEARCH</a></li>
      </ul>
    </div>
  </div>

  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div style="display: flex; flex-direction: column;">
      <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top:10%; width:60%;">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default type">A</button>
            <button type="button" class="btn btn-default type">M</button>
            <button type="button" class="btn btn-default type">D</button>
          </div>
          <input type="text" class="form-control"/>
        </div>
      </div>
  <!--     <div class="w3-display-topmiddle" style="white-space:nowrap; margin-top:20%; border-radius:5px; background-color: #FFFFFF;">
        <div>
          <a href="#"><button type="button" class="btn btn-default alphabet">#</button></a>
          <a href="#"><button type="button" class="btn btn-default alphabet">A</button></a>
          <a href="#b_anchor"><button type="button" class="btn btn-default alphabet">B</button></a>
          <a href="#c_anchor"><button type="button" class="btn btn-default alphabet">C</button></a>
          <a href="#d_anchor"><button type="button" class="btn btn-default alphabet">D</button></a>
          <a href="#e_anchor"><button type="button" class="btn btn-default alphabet">E</button></a>
          <a href="#f_anchor"><button type="button" class="btn btn-default alphabet">F</button></a>
          <a href="#g_anchor"><button type="button" class="btn btn-default alphabet">G</button></a>
          <a href="#h_anchor"><button type="button" class="btn btn-default alphabet">H</button></a>
          <a href="#i_anchor"><button type="button" class="btn btn-default alphabet">I</button></a>
          <a href="#j_anchor"><button type="button" class="btn btn-default alphabet">J</button></a>
          <a href="#k_anchor"><button type="button" class="btn btn-default alphabet">K</button></a>
          <a href="#l_anchor"><button type="button" class="btn btn-default alphabet">L</button></a>
          <a href="#m_anchor"><button type="button" class="btn btn-default alphabet">M</button></a>
          <a href="#n_anchor"><button type="button" class="btn btn-default alphabet">N</button></a>
          <a href="#o_anchor"><button type="button" class="btn btn-default alphabet">O</button></a>
          <a href="#p_anchor"><button type="button" class="btn btn-default alphabet">P</button></a>
          <a href="#q_anchor"><button type="button" class="btn btn-default alphabet">Q</button></a>
          <a href="#r_anchor"><button type="button" class="btn btn-default alphabet">R</button></a>
          <a href="#s_anchor"><button type="button" class="btn btn-default alphabet">S</button></a>
          <a href="#t_anchor"><button type="button" class="btn btn-default alphabet">T</button></a>
          <a href="#u_anchor"><button type="button" class="btn btn-default alphabet">U</button></a>
          <a href="#v_anchor"><button type="button" class="btn btn-default alphabet">V</button></a>
          <a href="#w_anchor"><button type="button" class="btn btn-default alphabet">W</button></a>
          <a href="#x_anchor"><button type="button" class="btn btn-default alphabet">X</button></a>
          <a href="#y_anchor"><button type="button" class="btn btn-default alphabet">Y</button></a>
          <a href="#z_anchor"><button type="button" class="btn btn-default alphabet">Z</button></a>
        </div> -->
        <div style="position:absolute; margin-top: 15%;">
        </div>
  <!--       <div class="slider" style="margin-top:20%; margin-right:20%">
          <div id="left1" class="left"></div>
          <div id="right1" class="right"></div>
          <div class="track" id="track1">
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%; border-radius: 5px;">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
              <div class="book" id="the-last">
                <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
              </div>
          </div>
        </div> -->

        <div id="movies" style="position: absolute; left:0; right: 0; width:80%; margin:auto; margin-top:15%; padding:20px; background-color: #FFFFFF; border-radius: 10px;">
                  
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item" id="the-last">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
         
        </div>

<!--         <div id="actors" style="position: absolute; left:0; right: 0; width:80%; margin:auto; margin-top:45%; padding:20px; background-color: #FFFFFF; border-radius: 10px;">
                  
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
          <div class="item" id="the-last">
            <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%">
          </div>
         
        </div> -->


  <!--       <div id="movie_list">
            <table id="my_table" class="table table-striped">
                <tr id='row_1'><td>1</td></tr>
                <tr id='row_2'><td>2</td></tr>
                <tr id='row_3'><td>3</td></tr>
                <tr id='row_4'><td>4</td></tr>
                <tr id='row_5'><td>5</td></tr>
                <tr id='row_6'><td>6</td></tr>
                <tr id='row_7'><td>7</td></tr>
                <tr id='row_8'><td>8</td></tr>
                <a href="#"><tr id="A_anchor"><td>9</td></tr>
            </table>
        </div> -->



        <!-- <div>
          <ul id="movie_list">
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" id="a_anchor" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>
            <li><a class="movie_item" href="#">Here</a></li>
            <li><a class="movie_item" href="#">Sahil is the greatest</a></li>

          </ul>
        </div> -->
    </div>
  </div>


  <div class="user_sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" id="settings_button">
      <div class="user_sidebar_item scope_one" style="width:100%; height:10%; margin-top:20%; font-size: 50px;">
       <!--  <div class="middle_text" style="height:80%; width:90%; padding:10px">text</div> -->
        Settings
      </div>
    </a>
    <a href="#" id="history_button">
      <div class="user_sidebar_item scope_one" style="width:100%; height:10%; font-size: 50px;">
       <!--  <div class="middle_text" style="height:80%; width:90%; padding:10px">text</div> -->
        History
      </div>
    </a>
  </div>

  <div style="text-align:center">
    <div class="modal" id="modal1"> <!-- this is the entire modal form, including the background -->
      <div class="modal-content"> <!-- this is the container wrapper -->
        <span class="close" style="float:right;">x</span>
        <div class="input-group scope_one" style="margin:auto;">
          <input id="username_textfield" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
          <input id="password_textfield" type="password" class="form-control" placeholder="Password">
          <div style="float:left;">
            <button type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;" id="login_request_button">Login</button>
          </div>
          <div style="float:right;">
            <button type="button" class="btn btn-default scope_one" style="display:block; margin:auto;margin-top:10px">Sign Up</button>
          </div>
        </div>
      </div>
    <!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
          <input type="text" class="form-control" placeholder="Username">
          <input type="password" class="form-control" placeholder="Password">
          <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
        </div> -->
    </div>

    <div class="modal" id="settings_modal"> <!-- this is the entire modal form, including the background -->
      <div class="modal-content"> <!-- this is the container wrapper -->
        <span class="close" style="float:right;" id="settings_close">x</span>
        <div class="input-group scope_one" style="margin:auto;">
          Change Password:
          <input id="change_username" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
          <input type="password" id="old_password" class="form-control" placeholder="Old Password">
          <input type="password" id="new_password" class="form-control" placeholder="New Password" style="margin-top: 5px;">
          <div style="float:left;">
            <button type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Update</button>
          </div>
        </div>
      </div>
    <!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
          <input type="text" class="form-control" placeholder="Username">
          <input type="password" class="form-control" placeholder="Password">
          <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
        </div> -->
    </div>

    <div class="modal" id="history_modal"> <!-- this is the entire modal form, including the background -->
      <div class="modal-content scope_one history container"> <!-- this is the container wrapper -->
        <span class="close" style="float:right;" id="history_close">x</span>
        <div class="row history_item" style="margin-top: 2.5%; padding-bottom: 1.5%">
          <div class="col-md-12" style="text-align: center; background-color: #80DEEA; margin-bottom: 1.5%">
            <i>12:00 PM, November 12th, 2016</i>
          </div>
          <div class="col-md-3">
              <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:70%; height: 100%; border-radius: 5px;">
          </div>
          <div class="col-md-3">
            <canvas id="myChart1" width="200" height="200"></canvas>
            <script>
            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.tooltips.enabled = false;
            var ctx = document.getElementById("myChart1");

            var data = {
                labels: ["Red", "White"],
                datasets: [
                    {
                        data: [3, 2],
                        backgroundColor: [
                            "#A5D6A7",
                            "#FFFFFF",
                        ],
                        hoverBackgroundColor: [
                            "#81C784",
                            "#FFFFFF",
                        ]
                    }]
            };
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
            });
            </script>
          </div>
          <div class="col-md-6" style="text-align: left; font-size: 25px;">
          Really liked the cheesiness, awesome movie for the kids.
          </div>
        </div>
        <div class="row history_item" style="margin-top: 2.5%; padding-bottom: 1.5%">
          <div class="col-md-12" style="text-align: center; background-color: #80DEEA; margin-bottom: 1.5%">
            <i>12:00 PM, November 12th, 2016</i>
          </div>
          <div class="col-md-3">
              <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:70%; height: 100%; border-radius: 5px;">
          </div>
          <div class="col-md-3">
            <canvas id="myChart2" width="200" height="200"></canvas>
            <script>
            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.tooltips.enabled = false;
            var ctx = document.getElementById("myChart2");

            var data = {
                labels: ["Red", "White"],
                datasets: [
                    {
                        data: [3, 2],
                        backgroundColor: [
                            "#A5D6A7",
                            "#FFFFFF",
                        ],
                        hoverBackgroundColor: [
                            "#81C784",
                            "#FFFFFF",
                        ]
                    }]
            };
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
            });
            </script>
          </div>
          <div class="col-md-6" style="text-align: left; font-size: 25px;">
          Really liked the cheesiness, awesome movie for the kids.
          </div>
        </div>
        <div class="row history_item" style="margin-top: 2.5%; padding-bottom: 1.5%">
          <div class="col-md-12" style="text-align: center; background-color: #80DEEA; margin-bottom: 1.5%">
            <i>12:00 PM, November 12th, 2016</i>
          </div>
          <div class="col-md-3">
              <img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:70%; height: 100%; border-radius: 5px;">
          </div>
          <div class="col-md-3">
            <canvas id="myChart3" width="200" height="200"></canvas>
            <script>
            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.tooltips.enabled = false;
            var ctx = document.getElementById("myChart3");

            var data = {
                labels: ["Red", "White"],
                datasets: [
                    {
                        data: [3, 2],
                        backgroundColor: [
                            "#A5D6A7",
                            "#FFFFFF",
                        ],
                        hoverBackgroundColor: [
                            "#81C784",
                            "#FFFFFF",
                        ]
                    }]
            };
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
            });
            </script>
          </div>
          <div class="col-md-6" style="text-align: left; font-size: 25px;">
          Really liked the cheesiness, awesome movie for the kids.
          </div>
        </div>

<!--         <ul class="panelNav" data-panelwrapper="panelWrapper5">
          <li><a href="#panelA5">A</a></li>
          <li><a href="#panelB5">B</a></li>
          <li><a href="#panelC5">C</a></li>
        </ul>
        <div class="panelWrapper" id="panelWrapper5" data-enter="slideright" data-exit="slideright">
          <div class="panel current" id="panelA5">A</div>
          <div class="panel" id="panelB5">B</div>
          <div class="panel" id="panelC5">C</div>
        </div> -->



      </div>
    <!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
          <input type="text" class="form-control" placeholder="Username">
          <input type="password" class="form-control" placeholder="Password">
          <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
        </div> -->
    </div>
  </div>



  <!-- Container (About Section) -->
  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT ME</h3>
    <p class="w3-center"><em>I love photography</em></p>
    <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <p><b><i class="fa fa-user w3-margin-right"></i>My Name</b></p><br>
        <img src="/w3images/avatar_hat.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
      </div>

      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
    <p class="w3-wide"><i class="fa fa-camera"></i>Photography</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:90%"></div>
    </div>
    <p class="w3-wide"><i class="fa fa-laptop"></i>Web Design</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:85%"></div>
    </div>
    <p class="w3-wide"><i class="fa fa-photo"></i>Photoshop</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:75%"></div>
    </div>
  </div>

  <div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">14+</span><br>
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">55+</span><br>
      Projects Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">89+</span><br>
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150+</span><br>
      Meetings
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">WHERE I WORK</h3>
    <p class="w3-center"><em>I'd love your feedback!</em></p>

    <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-col m4 w3-container">
        <!-- Add Google Maps -->
        <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
      </div>
      <div class="w3-col m8 w3-container w3-section">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Chicago, US<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +00 151515<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
        </div>
        <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
        <form action="form.asp" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-btn w3-black w3-right w3-padding w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
      <i class="fa fa-instagram w3-hover-text-purple"></i>
      <i class="fa fa-snapchat w3-hover-text-yellow"></i>
      <i class="fa fa-pinterest-p w3-hover-text-red"></i>
      <i class="fa fa-twitter w3-hover-text-light-blue"></i>
      <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    </div>
    <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>
   

  <script>

  $('.type').click(function(){
      if($(this).hasClass('searching')){
          $(this).removeClass('searching')
      } else {
          $(this).addClass('searching')
      }
  });

  $(document).ready(function() {
   
    $("#movies").owlCarousel({
   
        autoPlay: 6000, //Set AutoPlay to 3 seconds
   
        items : 6,
        itemsDesktop : [1199,3],
   
    });

    // $("#actors").owlCarousel({
   
    //     autoPlay: 6000, //Set AutoPlay to 3 seconds
   
    //     items : 6,
    //     itemsDesktop : [1199,3],
   
    // });
   
  });

  // var username_width = $("#username").width();
  // $('.modal-content').css("width", username_width + 50);

  // <!-- Google Map Location -->
  // var myCenter = new google.maps.LatLng(41.878114, -87.629798);

  // function initialize() {
  // var mapProp = {
  //   center: myCenter,
  //   zoom: 12,
  //   scrollwheel: false,
  //   draggable: false,
  //   mapTypeId: google.maps.MapTypeId.ROADMAP
  //   };

  // var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  // var marker = new google.maps.Marker({
  //   position: myCenter,
  // });

  // marker.setMap(map);
  // }

  // google.maps.event.addDomListener(window, 'load', initialize);

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }

  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
      } else {
          navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
      }
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }

  // Get the modal
  var modal = document.getElementById('modal1');

  // Get the button that opens the modal
  var btn = document.getElementById("login_button");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
      modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }

  // Get the settings modal
  var set_modal = document.getElementById('settings_modal');

  // Get the button that opens the modal
  var set_btn = document.getElementById("settings_button");

  // Get the <span> element that closes the modal
  var set_span = document.getElementById("settings_close");

  // When the user clicks the button, open the modal
  set_btn.onclick = function() {
      set_modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  set_span.onclick = function() {
      set_modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == set_modal) {
          set_modal.style.display = "none";
      }
  }

  // Get the history modal
  var hist_modal = document.getElementById('history_modal');

  // Get the button that opens the modal
  var hist_btn = document.getElementById("history_button");

  // Get the <span> element that closes the modal
  var hist_span = document.getElementById("history_close");

  // When the user clicks the button, open the modal
  hist_btn.onclick = function() {
      hist_modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  hist_span.onclick = function() {
      hist_modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if ((event.target == hist_modal) || (event.target == set_modal) || (event.target == modal)) {
          hist_modal.style.display = "none";
          set_modal.style.display = "none";
          modal.style.display = "none"
      }
  }


  $("#sign_button").click(function(){
    if ($("#register_div").css('display') == 'none')
    {
      console.log("True");
      $("#register_div").css('display', 'block');
    }
  });

  var container = $("#movie_list");
  var scrollTo = $("#a_anchor");
  // console.log(scrollTo.offset().top);
  // console.log("HI");

  $(".alphabet").click(function() {
    var letter = $(this).text();
    var anchor_string = "#" + letter + "_anchor";
    var scrollTo = $(anchor_string);

    container.animate({
      scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()
    });

  });

  // var slider_width = $('.slider').width();
  // var track_width = $("#track1").width();

  // console.log(track_width);

  // setInterval(function() {
  //     var left1 = parseInt($('#track1').css('left'));
      
  //     if ($('#left1').is(":hover")) {
  //       if (parseInt($('#track1').css('left')) >= 2)
  //       {
  //         $('#track1').css('left', 2);
  //       }
  //       else
  //       {
  //         $('#track1').css('left', left1+2);
  //       }
  //     }
  //     else if ($('#right1').is(":hover")) {
  //       var left_val = parseInt($("#track1").css('left'));
  //       if (left_val + track_width <= slider_width)
  //       {
  //         //$('#track1').css('left', slider_width);
  //       }
  //       else {
  //         $('#track1').css('left', left1-2);
  //       }
  //     }
  //   }, 10);

  </script>
  <script src="javascripts/user_sidebar.js"></script>
  <script src="javascripts/panel.js"></script>
</body>
</html>

