  <!DOCTYPE html>
  <html>
  <title>W3.CSS Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"> 
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600i" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/rating.css">
  <link rel="stylesheet" href="../public/stylesheets/grid.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
  body, html {
      height: 100%;
      color: #777;
      line-height: 1.8;
  }

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }
  </style>
  <body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <ul class="w3-navbar" id="myNavbar">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-hover-black" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="w3-left-align"><a href="#home">HOME</a></li>
      <li class="w3-hide-small"><a href="#about"><i class="fa fa-user"></i> ABOUT</a></li>
      <li class="w3-hide-small"><a href="#contact"><i class="fa fa-envelope"></i> CONTACT</a></li>
      <li class="w3-hide-small w3">
        <a href="#0" class="w3-hover-red" id="login_button">
          LOGIN
        </a>
      </li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
      <ul class="w3-navbar w3-left-align w3-white">
        <li><a href="#about" onclick="toggleFunction()">ABOUT</a></li>
        <li><a href="#portfolio" onclick="toggleFunction()">PORTFOLIO</a></li>
        <li><a href="#contact" onclick="toggleFunction()">CONTACT</a></li>
        <li><a href="#">SEARCH</a></li>
      </ul>
    </div>
  </div>

  <div id="sidebar" class="side_detail" style="text-align:center;">
    <div style="background-color: #00BCD4;">
      <p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size:30px; overflow-x:visible;"></p>
      <img id="movie_img" src="http://vignette2.wikia.nocookie.net/disney/images/5/58/Frozen-movie-poster.jpg/revision/latest?cb=20160606223222">
    </div>
    <div id="shop"></div>
    <div style="margin:auto; width:90%;">
      <textarea class="form-control" rows="6" columns="100" style="overflow-y:scroll; width:100%; margin:5px; margin-top:15px"></textarea>
    </div>
    <button type="button" class="btn btn-default" style="margin: 0 auto; margin-top: 2.5%;">Submit Comments</button>
  <!--   <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div> -->
  </div>

  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-display-container w3-opacity-min" id="detail">
    <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top:5%; padding-right:10%; width:60%;">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default type">A</button>
          <button type="button" class="btn btn-default type">M</button>
          <button type="button" class="btn btn-default type">D</button>
        </div>
        <input type="text" class="form-control"/>
      </div>
      <div class="grid" style="margin-top: 5%;">
        <div class="grid-sizer"></div>
        <!--Dynamically do this + genres -->
        <a href="#"><div class="grid-item grid-item1">
          <div style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word;  font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">PG-13</div>
        </div></a>
        <div class="grid-item grid-item2">
            <div style="position: absolute;top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:200%; color: #000000;">Avatar</div>
        </div>
        <div class="grid-item grid-item3">
          <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">English</div>
        </div>
        <div class="grid-item grid-item4">
         <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">115 Min</div>
        </div>
        <div class="grid-item grid-item5">
          <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">$760.5M</div>
        </div>
        <div class="grid-item grid-item6">
          <div style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">2013</div>
        </div>
        <div class="grid-item grid-item7">
                <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">James Cameron (D)</div>
        </div>
        <div class="grid-item grid-item8">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">CCH Pounder (A)</div>
        </div>
        <div class="grid-item grid-item9">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Joel David Moore (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
        <div class="grid-item grid-item10">
           <div style="position: absolute;     top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); white-space: normal;  word-wrap: break-word; font-family: 'Roboto Condensed', sans-serif; font-size:150%; color: #000000;">Wes Studi (A)</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="modal1"> <!-- this is the entire modal form, including the background -->
    <div class="modal-content"> <!-- this is the container wrapper -->
      <span class="close">x</span>
      <div class="input-group" style="margin:auto;">
        Returning User?
        <input type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn btn-default" style="display:block;margin:auto; margin-top:10px;">Login</button>
          </div>
          <div class="col-md-offset-6">
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px">Sign Up</button>
          </div>
        </div>
      </div>
  <!--    <div class="input-group" style="margin:auto; display:none" id="register_div">
        <input type="text" class="form-control" placeholder="Username">
        <input type="password" class="form-control" placeholder="Password">
        <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
      </div> -->
    </div>
    </div>
  </div>

  <script>
  $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
  </script>
   

  <script src="../public/javascripts/rating.js"></script>
  <script>
  (function() {

      'use strict';

      // SHOP ELEMENT
      var shop = document.querySelector('#shop');

      // DUMMY DATA
      var data = [
        {
          title: "",
          description: "",
          rating: 0
        },
      ];

      // INITIALIZE
      (function init() {
        for (var i = 0; i < data.length; i++) {
          addRatingWidget(buildShopItem(data[i]), data[i]);
        }
      })();

      // BUILD SHOP ITEM
      function buildShopItem(data) {
        var shopItem = document.createElement('div');

        var html = '<div class="c-shop-item__img"></div>' +
          '<div class="c-shop-item__details">' +
            '<p style="left:10px; font-family: ' + "'Open Sans', sans-serif; font-size:30px;" + '">' + data.title + '</h3>' +
            '<p class="c-shop-item__description">' + data.description + '</p>' +
            '<ul class="c-rating" style="margin:5% 0 0 32.5% "></ul>' +
          '</div>';

        shopItem.classList.add('c-shop-item');
        shopItem.innerHTML = html;
        shop.appendChild(shopItem);

        return shopItem;
      }

      // ADD RATING WIDGET
      function addRatingWidget(shopItem, data) {
        var ratingElement = shopItem.querySelector('.c-rating');
        var currentRating = data.rating;
        var maxRating = 5;
        var callback = function(rating) { alert(rating); };
        var r = rating(ratingElement, currentRating, maxRating, callback);
      }

    })();
  </script>
  <!-- Add Google Maps -->
  <script>

  $('.type').click(function(){
      if($(this).hasClass('searching')){
          $(this).removeClass('searching')
      } else {
          $(this).addClass('searching')
      }
  });


  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
      } else {
          navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
      }
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }

  // Get the modal
  var modal = document.getElementById('modal1');

  // Get the button that opens the modal
  var btn = document.getElementById("login_button");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
      modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>

  </body>
  </html>
