<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/stylesheets/style.css">
<link rel="stylesheet" href="../public/stylesheets/rating.css">
<link rel="stylesheet" href="../public/stylesheets/grid.css">
<link rel="stylesheet" href="../public/javascripts/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="../public/javascripts/owl-carousel/owl.transitions.css">
<link rel="stylesheet" href="../public/javascripts/owl-carousel/owl.theme.css">
<script src="../public/javascripts/owl-carousel/owl.carousel.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
<link rel="stylesheet" href="../public/stylesheets/tipsy.css">
<script src="../public/javascripts/jquery.tipsy.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar" id="myNavbar">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
      <a class="w3-hover-black" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li class="w3-left-align"><a href="#home">HOME</a></li>
    <li class="w3-hide-small"><a href="#" onclick="openNav()"><i class="fa fa-user"></i> USER</a></li>
    <li class="w3-hide-small"><a href="#about"><i class="fa fa-envelope"></i> ABOUT</a></li>
    <li class="w3-hide-small">
      <a href="#0" class="w3-hover-red" id="login_button">
        LOGIN
      </a>
    </li>
  </ul>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
    <ul class="w3-navbar w3-left-align w3-white">
      <li><a href="#about" onclick="toggleFunction()">ABOUT</a></li>
      <li><a href="#portfolio" onclick="toggleFunction()">PORTFOLIO</a></li>
      <li><a href="#contact" onclick="toggleFunction()">CONTACT</a></li>
      <li><a href="#">SEARCH</a></li>
    </ul>
  </div>
</div>

<div id="sidebar" class="side_detail" style="text-align:center;">
  <div style="background-color: #00BCD4;">
    <p style="text-align: center; font-family: 'Open Sans', sans-serif; font-size:30px; overflow-x:visible;"></p>
    <img id="movie_img" src="http://vignette2.wikia.nocookie.net/disney/images/5/58/Frozen-movie-poster.jpg/revision/latest?cb=20160606223222">
  </div>
  <div id="shop"></div>
  <div style="margin:auto; width:90%;">
    <textarea class="form-control" rows="6" columns="100" style="overflow-y:scroll; width:100%; margin:5px; margin-top:15px"></textarea>
  </div>
  <button type="button" class="btn btn-default" style="margin: 0 auto; margin-top: 2.5%;">Submit Comments</button>
<!--   <div class="rating">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  </div> -->
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="detail">
  <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top:5%; padding-right:10%; width:60%;">
    <div class="input-group">
      <div class="input-group-btn">
        <button title="Actors" id="actor_btn" type="button" class="btn btn-default type">A</button>
        <button title="Movies" type="button" class="btn btn-default type">M</button>
        <button title="Directors" type="button" class="btn btn-default type">D</button>
      </div>
      <input type="text" class="form-control"/>
    </div>

  </div>
<!--   <div class="w3-display-topmiddle" style="padding-top:15%; display:block; padding-right:10%; border-radius: 5px; background-color:">
    <div class="input-group">
      <input id="u_movie_title" type="text" class="form-control" placeholder="">
      <input id="u_rating" type="text" class="form-control" placeholder="">
      <input id="u_content_r" type="text" class="form-control" placeholder="">
      <input id="u_year" type="text" class="form-control" placeholder="">
      <input id="u_lang" type="text" class="form-control" placeholder="">
      <input id="u_length" type="text" class="form-control" placeholder="">
      <input id="u_color" type="text" class="form-control" placeholder="">
      <label for="u_genres">Enter Genres comma delimited:</label>
      <input id="u_genres" type="text" class="form-control" placeholder="">
      <button id="u_submit" type="button" class="btn btn-default">Submit</button>
    </div>
  </div> -->
  <div class="container-fluid" id="first_div" style="padding-top:15%; display:block;">
    <div class="row">
      <div class="col-md-8 source_sans" style="margin-left:5%; background-color: #E0F7FA; border-radius:5px">
        <p class="item_hoverable" style="font-size: 50px; display:inline-block; margin: 1.5% 1.5% 1.5% 1.5%; margin-bottom: 0%;">Frozen</p><br>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin: 1.5% 1.5% 1.5% 1.5%; margin-top: 0%; margin-right:0%;">PG-13</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">2013</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">English</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">115 Min</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Color</div>
        <br>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin: 1.5% 1.5% 1.5% 1.5%; margin-top: 0%; margin-right:0%;">Action</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Sports</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Medicine</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Horror</div>

        <div class="row">
          <div id="movies" style="width:90%; margin:auto; margin-top:0%; background-color: #FFFFFF; border-radius: 10px; z-index:1000; padding:5px;">
                  
            <div class="item">
              <a href="#"><img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%;"></a>
            </div>
            <div class="item">
              <a href="#"><img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%;"></a>
            </div>
            <div class="item">
              <a href="#"><img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%;"></a>
            </div>
            <div class="item">
              <img src="http://vignette2.wikia.nocookie.net/iamamiwhoami/images/0/01/Prelude_videos.jpg/revision/20110906025246" style="width:100%; height: 100%; opacity:1;">
            </div>
            <div class="item">
              <a href="#"><img src="https://thepoisonedmartini.files.wordpress.com/2014/11/frozen-dvd-cover.jpg" style="width:100%; height: 100%;"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-7" style="text-align:center;">
            Actors
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            Director
          </div>
        </div>
        <div class="row" style="margin-top:2.5%; margin-bottom:2.5%">
          <div style="text-align:center">
            <button title="info" type="button" id="length" class="btn btn-default glyph"><span class="glyphicon glyphicon-info-sign"></span></button>
            <button title="settings" type="button" id="settings" class="btn btn-default glyph"><span class="glyphicon glyphicon-cog"></span></button>
            <!-- <button title="add" type="button" id="add" class="btn btn-default glyph"><span class="glyphicon glyphicon-plus"></span></button> -->
<!--             <button type="button" id="revenue" class="btn btn-default glyph"><span class="glyphicon glyphicon-usd"></span></button>
            <button type="button" id="release" class="btn btn-default glyph"><span class="glyphicon glyphicon-calendar"></span></button>
            <button type="button" id="langauge" class="btn btn-default glyph"><span class="glyphicon glyphicon-globe"></span></button>
            <button type="button" id="rating" class="btn btn-default glyph"><span class="glyphicon glyphicon-star-empty"></span></button>
            <button type="button" id="genres" class="btn btn-default glyph"><span class="glyphicon glyphicon-tags"></span></button> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <div class="container-fluid" id="second_div" style="padding-top:15%; display:none;">
    <div class="row">
      <span class="glyphicon glyphicon-chevron-left" style="float:right;"></span>
    </div>
    <div class="row" >
      <div class="col-md-8 source_sans" style="margin-left:5%; background-color: #E0F7FA; border-radius:5px; text-align:center; padding-bottom:20px;">
        <button id="back_btn" type="button" class="btn btn-default" style="position:absolute; float:right; right:0; top:0;"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <input type="text" id="u_title" class="form-control" style="font-size: 20px; display:inline-block; margin-left:10px; margin-bottom: 0%; margin-top:1.5%; width:400px;" placeholder="Title"><br>
        <input type="text" id="u_content" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; margin-top: 1.5%; margin-right:0%; width:400px;" placeholder="PG-13"><br>
        <input type="text" id="u_year"class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="2013"><br>
        <input type="text" id="u_lang" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="English"><br>
        <input type="text" id="u_length" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="115"><br>
        <input type="text" id="u_color" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Color">
        <br>
        <input type="text" id="u_url" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Img URL"><br>
        <input type="text" id="u_genres" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Genres">
        <p class="small">Insert genres comma delimited</p>
        <input type="text" id="u_actor_list" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Actors">
        <p class="small">Insert Actors comma delimited, in order</p>
        <input type="text" id="u_actor_list" class="form-control" style="font-size:20px; display:inline-block; margin-left:10px; width:400px; margin-top:1.5%;" placeholder="Director">
        <p class="small">Insert Director Name</p>
        <button id="u_submit" class="btn btn-default">Submit</button>
<!--         <div class="item_hoverable" style="font-size:20px; display:inline-block; margin: 1.5% 1.5% 1.5% 1.5%; margin-top: 0%; margin-right:0%;">Action</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Sports</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Medicine</div>
        <div class="item_hoverable" style="font-size:20px; display:inline-block; margin-left:10px;">Horror</div> -->
     </div>
     <div class="col-md-4">
     </div>
    </div>
  </div>

</div>

<div style="text-align:center">
  <div class="modal" id="modal1"> <!-- this is the entire modal form, including the background -->
    <div class="modal-content"> <!-- this is the container wrapper -->
      <span class="close" style="float:right;">x</span>
      <div class="input-group scope_one" style="margin:auto;">
        <input id="username" type="text" class="form-control" placeholder="Username" style="margin-top:5px; margin-bottom:5px">
        <input id="password" type="password" class="form-control" placeholder="Password">
        <div style="float:left;">
          <button type="button" class="btn btn-default scope_one" style="display:block;margin:auto; margin-top:10px;">Login</button>
        </div>
        <div style="float:right;">
          <button type="button" class="btn btn-default scope_one" style="display:block; margin:auto;margin-top:10px">Sign Up</button>
        </div>
      </div>
    </div>
  <!--<div class="input-group" style="margin:auto; display:none" id="register_div">
        <input type="text" class="form-control" placeholder="Username">
        <input type="password" class="form-control" placeholder="Password">
        <button type="button" class="btn btn-default" style="display:block; margin:auto;margin-top:10px;">Register</button>
      </div> -->
  </div>

    <div class="modal" id="length_modal"> <!-- this is the entire modal form, including the background -->
      <div class="modal-content container item_hoverable_less" style="overflow-y:hidden; margin-top:-5%;"> <!-- this is the container wrapper -->
        <span class="close" style="float:right;" id="length_close">x</span>
        <div class="row source_sans" style="margin-top:5%">
          <div class="col-md-6" style="font-size:30px;">
            <div style="float:left;">Your Length: 115 Min</div>
          </div>
          <div class="col-md-6" style="font-size:30px;">
            <div style="float:right;">Avg Length: 112 Min</div>
          </div>
        </div>
        <div class="row scope_one" id="length_chart" style="max-height:600px; display:flex; align-items:center; height:20%">
          <div class="col-md-6">
            <div class="progress" style="height:40px;">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span style="font-size: 30px" class="sr-only">115 Min</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress" style="height:40px;">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">112 Min</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row source_sans" style="margin-top:5%">
          <div class="col-md-6" style="font-size:30px;">
            <div style="float:left;">Your Revenue: $53.5 M</div>
          </div>
          <div class="col-md-6" style="font-size:30px;">
            <div style="float:right;">Avg Revenue: $50.2 M</div>
          </div>
        </div>
        <div class="row scope_one" id="length_chart" style="max-height:600px; display:flex; align-items:center; height:20%">
          <div class="col-md-6">
            <div class="progress" style="height:40px;">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span style="font-size: 30px" class="sr-only">115 Min</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress" style="height:40px;">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">112 Min</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:5%;">
          <div class="source_sans" style="font-size:30px; float:left; margin-left:1.5%;">Release Date Comparison:</div>
        </div>
        <div class="row" style="padding:10px;">
          <div id="visualization"></div>

          <script type="text/javascript">
            // DOM element where the Timeline will be attached
            var container = document.getElementById('visualization');

            // Create a DataSet (allows two way data-binding)
            var items = new vis.DataSet([
              {id: 1, content: 'Your Movie', start: '2013-04-20'},
              {id: 2, content: 'Average Movie', start: '1999-04-14'},
            ]);

            // Configuration for the Timeline
            var options = {};

            // Create a Timeline
            var timeline = new vis.Timeline(container, items, options);
          </script>
        </div>
        <div class="row" style="margin-top:5%">
          <!-- <div class="source_sans" style="font-size:30px; float:left; margin-left:1.5%;">Language Chart:</div> -->
        </div>
        <div class="row" style="padding:10px;">
          <div class="col-md-6">
            <div class="source_sans" style="float:left; font-size:30px;">Your Language: English</div>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
            <div class="source_sans" style="float:left; font-size:30px;">Language Chart:</div>
            <canvas id="language_chart" width="400" height="400"></canvas>
            <script>
            Chart.defaults.global.legend.display = true;
            Chart.defaults.global.tooltips.enabled = true;
            var ctx = document.getElementById("language_chart");
            var data = {
                labels: ["Red", "White", "", ""],
                datasets: [
                  {
                    data: [30, 20, 45, 5],
                    backgroundColor: [
                        "#A5D6A7",
                        "#E1BEE7",
                        "#FFECB3",
                        "#FFCCBC",
                    ],
                }]
            };
            var myChart = new Chart(ctx, {
                type: 'pie',

                data: data,
            });
            </script>
          </div>
        </div>
<!--         <div class="row" style="margin-top:5%">
          <div class="source_sans" style="float:left; font-size:30px;/*">Genres:</div>
        </div>
        <div class="row">
          <div class="item_hoverable source_sans" style="display:inline-block; font-size:20px; margin-right:5%;">Action</div>
          <div class="item_hoverable source_sans" style="display:inline-block; font-size:20px;">Flake</div>
        </div> -->
      </div>

    </div>

    <div class="modal" id="money_modal"> <!-- this is the entire modal form, including the background -->
      <div class="modal-content container item_hoverable_less" style="overflow-y:hidden;"> <!-- this is the container wrapper -->
        <span class="close" style="float:right;" id="length_close">x</span>
        <div class="row scope_one" id="length_chart" style="max-height:600px; display:flex; align-items:center">
          <div class="col-md-3 source_sans" style="align-items: stretch; max-height: 600px; vertical-align:middle; text-align: center; font-size:40px">
            <span>Your Length: 115 Min</span>
          </div>
          <div class="col-md-3">
            <canvas id="money_chart" width="200" height="200"></canvas>
            <script>
            Chart.defaults.global.legend.display = true;
            Chart.defaults.global.tooltips.enabled = true;
            var ctx = document.getElementById("money_chart");
            var highest = 115;
            var ours = 115;
            var diff = highest - ours;
            var data = {
                labels: ["Red", "White"],
                datasets: [
                    {
                        data: [ours, diff],
                        backgroundColor: [
                            "#A5D6A7",
                            "#FFFFFF",
                        ],
                        hoverBackgroundColor: [
                            "#81C784",
                            "#FFFFFF",
                        ]
                    }]
            };
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
            });
            </script>
          </div>
          <div class="col-md-3">
            <canvas id="money_chart" width="200" height="200"></canvas>
            <script>
            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.tooltips.enabled = false;
            var ctx = document.getElementById("money_chart");
            var highest = 115;
            var ours = 115;
            var diff = highest - ours;
            var data = {
                labels: ["Red", "White"],
                datasets: [
                    {
                        data: [ours, diff],
                        backgroundColor: [
                            "#A5D6A7",
                            "#FFFFFF",
                        ],
                        hoverBackgroundColor: [
                            "#81C784",
                            "#FFFFFF",
                        ]
                    }]
            };
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
            });
            </script>
          </div>
          <div class="col-md-3 source_sans" style="align-items: stretch; max-height: 600px; vertical-align:middle; text-align: center; font-size:40px">
            <span>Avg Length: 115 Min</span>
          </div>
        </div>

      </div>
    </div>


</div>





<script>
$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
</script>
 

<script src="../public/javascripts/rating.js"></script>
<script>
(function() {

    'use strict';

    // SHOP ELEMENT
    var shop = document.querySelector('#shop');

    // DUMMY DATA
    var data = [
      {
        title: "",
        description: "",
        rating: 0
      },
    ];

    // INITIALIZE
    (function init() {
      for (var i = 0; i < data.length; i++) {
        addRatingWidget(buildShopItem(data[i]), data[i]);
      }
    })();

    // BUILD SHOP ITEM
    function buildShopItem(data) {
      var shopItem = document.createElement('div');

      var html = '<div class="c-shop-item__img"></div>' +
        '<div class="c-shop-item__details">' +
          '<p style="left:10px; font-family: ' + "'Open Sans', sans-serif; font-size:30px;" + '">' + data.title + '</h3>' +
          '<p class="c-shop-item__description">' + data.description + '</p>' +
          '<ul class="c-rating" style="margin:5% 0 0 32.5% "></ul>' +
        '</div>';

      shopItem.classList.add('c-shop-item');
      shopItem.innerHTML = html;
      shop.appendChild(shopItem);

      return shopItem;
    }

    // ADD RATING WIDGET
    function addRatingWidget(shopItem, data) {
      var ratingElement = shopItem.querySelector('.c-rating');
      var currentRating = data.rating;
      var maxRating = 5;
      var callback = function(rating) { alert(rating); };
      var r = rating(ratingElement, currentRating, maxRating, callback);
    }

  })();
</script>
<!-- Add Google Maps -->
<script>

$(document).ready(function () {

  $("#movies").owlCarousel({

      autoPlay: 6000, //Set AutoPlay to 3 seconds
 
      items : 5,
      itemsDesktop : [1199,3],

      afterUpdate: function () {
          updateSize();
      },
      afterInit:function(){
          updateSize();
      }
  });

  $("#actors").owlCarousel({

      autoPlay: 6000, //Set AutoPlay to 3 seconds
 
      items : 5,
      itemsDesktop : [1199,3],

      afterUpdate: function () {
          updateSize();
      },
      afterInit:function(){
          updateSize();
      }
  });

  function updateSize(){
      var minHeight=parseInt($('.owl-item').eq(0).css('height'));
      $('.owl-item').each(function () {
          var thisHeight = parseInt($(this).css('height'));
          if (thisHeight < 100) return;
          minHeight=(minHeight<=thisHeight?minHeight:thisHeight);
      });
      $('.owl-wrapper-outer').css('height',minHeight+'px');
      //console.log(minHeight);
  }
});

// var which_one;

$('#back_btn').click(function(){
  $('#second_div').css('display', 'none');
  $('#first_div').css('display', 'block');
});

$('#settings').click(function(){
  $('#first_div').css('display', 'none');
  $('#second_div').css('display', 'block');
  //which_one = "settings";
});

$('#u_submit').click(function(){
  //Ajax submit and do your reload or whatever
});


$('.type').click(function(){
    if($(this).hasClass('searching')){
        $(this).removeClass('searching')
    } else {
        $(this).addClass('searching')
    }
});


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Get the modal
var modal = document.getElementById('modal1');

// Get the button that opens the modal
var btn = document.getElementById("login_button");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
  // Get the modal
var length_modal = document.getElementById('length_modal');

// Get the button that opens the modal
var length_btn = document.getElementById("length");

// Get the <span> element that closes the modal
var length_span = document.getElementById("length_close")

// When the user clicks the button, open the modal
length_btn.onclick = function() {
    length_modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
length_span.onclick = function() {
    length_modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if ((event.target != modal) || (event.target != length_modal)) {
        modal.style.display = "none";
    }
}




$('.type').tipsy({gravity: 'n'});

$('.length').click(function() {
$('button').tipsy({gravity: 'n'});


});



</script>

</body>
</html>
