<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <% entries.forEach( function(entry) { %>
            <li><%= entry.name %> - <%= entry.source %></li>
        <% }); %>
    </ul>
  </body>
</html>
